.left {
  grid-area: left;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  min-width: 0;
  flex-shrink: 0;
}

.right {
  grid-area: right;
  border: 1px solid red;
}

.contentPerson {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.abilities {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.abilities p {
  word-break: break-word;
}

.dot {
  font-size: 0.7rem;
  margin-left: auto;
}
