.container {
  display: grid;
  grid-template-areas: 'details resume';
  grid-template-columns: 1fr 1fr;
}

.containerDetails {
  grid-area: details;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerResume {
  grid-area: resume;
  padding: 20px;
  background-color: aliceblue;
}

.tips {
  cursor: pointer;
}
